
/backend/node_modules/
/backend/coverage/
/backend/.env
/frontend/.env
/node_modules
/.idea
.DS_Store
frontend/ios/Podfile
frontend/ios/Podfile.lock
frontend/ios/Runner.xcodeproj/project.pbxproj
frontend/ios/Runner.xcworkspace/contents.xcworkspacedata
